.card__like-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 21px; /* совпадает с шириной кнопки */
}

.card__like-button {
  width: 21px;
  height: 18px;
  background: transparent url('../../../images/like-inactive.svg') no-repeat;
  background-size: 21px 18px;
  border: none;
  cursor: pointer;
  padding: 0;
  margin: 0 0 4px 0; /* Отступ снизу между сердечком и счётчиком */
  transition: 0.3s;
}

.card__like-button:hover {
  opacity: 0.6;
}

.card__like-count {
  font-size: 12px;
  line-height: 1;
  color: #000; /* Или нужный цвет */
  text-align: center;
  width: 100%;
}