.popup__caption {
  font-size: 16px; /* Размер шрифта для текста */
  color: #fff;
  text-align: left; /* Выравнивание текста по центру */

  visibility: visible; /* Убедимся, что текст виден */
  max-width: 80%; /* Ограничиваем максимальную ширину текста */
  word-wrap: break-word; /* Перенос длинных слов */
  margin: 0;    
}
