.popup__caption {
  font-size: 16px; /* Размер шрифта для текста */
  color: #fff;
  text-align: center; /* Выравнивание текста по центру */
  padding: 10px; /* Отступы вокруг текста */
  visibility: visible; /* Убедимся, что текст виден */
  max-width: 80%; /* Ограничиваем максимальную ширину текста */
  word-wrap: break-word; /* Перенос длинных слов */
    top: calc(100% + 10px);
      margin: 0;
      
}
