.popup__caption {
  font-size: 12px;
  line-height: 15px;
  color: #fff;
  text-align: left; /* Выравнивание текста по центру */
  padding: 10px 0 0 0; /* Отступы вокруг текста */
  visibility: visible; /* Убедимся, что текст виден */
  max-width: 80%; /* Ограничиваем максимальную ширину текста */
  word-wrap: break-word; /* Перенос длинных слов */
  margin: 0;    
}
